html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #f5f4fa;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-blue {
  color: var(--accent-color);
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: var(--primary-white-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
}

.section {
  padding-top: 0;
  padding-bottom: 94px;
}

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.section .link {
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.addres .contact {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.addres .contact:hover,
.addres .contact:focus {
  color: var(--accent-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section.background {
  background-color: var(--primary-bg-color);
}

.section-title.our-team {
  padding-top: 94px;
}

.hero {
  margin-bottom: 94px;
  outline: 2px solid red;
  text-align: center;

  background-color: #2f303a;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.our-team {
  background-color: var(--primary-bg-color);
}

.advantages .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.advantages .text {
  margin-top: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.team .name {
  padding-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .profession {
  padding-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.team .link {
  color: var(--primary-text-color);
}

.team .link:hover,
.team .link:focus {
  color: var(--accent-color);
}

.city {
  color: var(--primary-white-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-adres {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.data {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
}

.page-footer {
  background-color: #2f303a;
}

.social-list .link {
  color: var(--primary-text-color);
}

.social-list .link:hover,
.social-list .link:focus {
  color: var(--accent-color);
}

.applications .link {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.applications .link:hover,
.applications .link:focus {
  color: var(--accent-color);
}

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}

.button.primary {
  padding: 6px 22px;

  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.projects .link {
  text-decoration: none;
}

.projects-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects-text {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.text-description {
  color: var(--primary-white-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
}

.filter {
  padding-top: 0;
  padding-bottom: 34px;
}
.portfolio {
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-header {
  margin-top: 0;
  margin-bottom: 93px;
}
